.about__text{
	@extend %font-Inter-20;
	margin: 40px 0 20px 0;
	@include media-tablet{
		padding-left: 20px;
		padding-right: 20px; 
	}
}
@include media-tablet{
	.about-images_container{
		display: flex;
		justify-content: center;
		gap: 46px;
	}
}



// 
.carusel{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 39px;
}


.carusel button{
	@include media-tablet{
		background-color: $color-text-additional;
		border: none;
	}
}


.left_arrow_ico, .right_arrow_ico{
	display: none;
	@include media-tablet{
		display: flex;
		margin-top: 20px;
	}
}


.about-images_container{
	width: 1400px;
	overflow: hidden; //cut images out of container
	
}
.about__images{ //"track"
	
	transition: all 0.2s;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
	margin-bottom: 31px;

	@include media-laptop{ //make pictures in center when reduce res
		justify-content: center;
	}
	
	@include media-tablet{
		//flex-direction: column;
		margin-bottom: 16px;
	}
}


@include media-laptop{
	.about__images > div:first-child{
		padding-right: 20px; //make a gap between photo during resizing
	}
	// .about__images > div:nth-child(3){ 
	// 	display: none; //remove 3d pic during -res
	// }

	.about-images_container{
		width: 475px;
	}
}
// @include media-resizer-breakpoint(872px){
// 	.about__images > div:nth-child(2){ 
// 		display: none; //remove 2d pic during -res
// 	}
// }


@include media-tablet{
	// .about__images > div:nth-child(1n + 2){ 
	// 		display: none;

	// }	
	.about__images > div:first-child{
		padding-right: 0px; //make a gap between photo during resizing
	}
}


.about__carousel{
	margin: auto;
  	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;		
	margin-bottom: 55px;
}

.about__carousel > .carusel-button-press-zone:nth-child(1), .carusel-button-press-zone:nth-child(2){
	display: none;
	@include media-tablet{
		display: flex;
	}
}


.carusel-button-press-zone{ //active zone is more than icon
	width: 26px;
	height: 26px;   
	border-radius: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}

.carusel-button-press-zone:hover{
	cursor: pointer;
}
  
.carusel-button{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: $color-headers;
	border: $color-headers;
	@extend %transition;
	outline: none;
}
 
.carusel-button-current{
	@extend %transition;
	background-color: $color-main;
}

// .carusel-button:hover{
// 	@extend %transition;
// 	background-color: $color-text-light-grey;
// }

.carusel-button:focus{
	background-color: $color-main;
}

.carusel-button:focus-visible{
	background-color: $color-main;
}

.carusel-button:active{
	background-color: $color-main;
}
