//auth  menu - unregistered

.auth-menu-container{
	position: relative;
}

.user_login_menu_small, .user_in_menu_small{
	//--menu-coord-right:1000px; //have local variable for js
	//
	//background-color: $color-text-additional;
	background-color: $color-text-additional;
	width: 80px;
	height: 115px;
	position: absolute;
	top: 28	px;
	right: 0px;	
	display: flex;
	flex-direction: column;
	text-align: center;
	//
	@include media-tablet{
		right: 40px;	
	}

	//animation and visibility
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-out;
	
}

.user_login_menu-visible{
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-out;
}

.auth_menu_title{
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 133.333% */
	//
	margin-top: 5px;
}

.auth_menu_title-small-text{
	font-size: 12px;
}

.auth-menu-line {
	width: 40px;
	height: 1px;
	background-color: $color-main;
	margin: auto;
	margin-top: 5px;
}
.auth-menu-down{
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; 
	//
	flex: 1;
	//

	display: flex;
	flex-direction: column;
    justify-content: center;
    gap: 4px;
	
}

.register-ref{
	margin-top: 10px;
    margin-bottom: 6px;
}
.logout-ref{
	margin-top: 10px;
    margin-bottom: 6px;
}

.my-reference{
	cursor: pointer;
}





