.wrapper-coffeshop{
	margin-bottom: 60px;
}

.wrapper-coffeshop p{
	margin-top: 40px;
	margin-bottom: 40px;
	@include media-tablet{
		padding: 0 15px;
	}
}

.coffeshop__description{
	@extend %font-Inter-20;
	letter-spacing: 2px;
}

.menu-page-title-left{
	@extend %font-Forum-40-main-color;

}

.menu-page-title-right{
	@extend %font-Forum-40-main-color;
	//
	text-align: right;
}


.menu-page-list-item-left{
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.menu-page-list-item-left > :first-child{ //first div with otem name
	flex-grow: 3; //make block with name bigger than other
}

.menu-page-list-item-right{
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	
}

.menu-page-list-item-name{
	@extend %font-Inter-20;
	letter-spacing: 2px;
	text-transform: capitalize;
	text-align: left;
	//flex-grow: 3; //make block with name bigger than other
}
.menu-page-list-item-cost{
	color: #000;
	font-family: Forum;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	//
	letter-spacing: 2px;
	text-transform: capitalize;
}

.menu-page-line{ //line is the same for all sections
	width: 100px;
	height: 1.000px;
	background: $color-main;
	flex-shrink: 0;
	align-self: center;
	margin: 0 59px;
}

//scale

@include media-resizer-breakpoint(965px){ //i dont know do i need last one
	.wrapper__coffeshop-menu{
		display:flex;
		flex-wrap: wrap;
		gap: 40px;
	}
	.cafe-menu-left{
		margin-left: 20px;
	}
	.cafe-menu-right{
		margin-left: 287px;

	}
	.menu-page-title-right{
		padding-right: 3px;
	}
}




@include media-tablet{
	.wrapper__coffeshop-menu{
		display:flex;
		flex-wrap: wrap;
		gap: 40px;
	}
	.cafe-menu-left{
		margin-left: 20px;
	}
	.cafe-menu-right{
		margin-left: 37.5vw;

	}
	.menu-page-title-right{
		padding-right: 3px;
	}
}