.contacts-wrapper{
	margin-top: 20px;
	margin-bottom: 57px;
}

.info-header-one, .info-header-two, .info-dir-name{
	color: $color-text;
	text-align: left;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
}

.info-header-one{
	margin-bottom: 40px;
}

.info-header-two{
	margin-top: 40px;
	margin-bottom: 20px;
}

.info-txt{
	color: #000;
	text-align: left;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
}
//remove color and link colors from tel number links
.tel_href:link, .tel_href:visited, .tel_href:active {
	color: $color-text;
	text-decoration: none;  //remove underline from all links
}
//remove color and link colors from mail links
.info-dir-name:link, .info-dir-name:visited, .info-dir-name:active{
	color: $color-text;

}

.info-dir-name:hover, .tel_href:hover{
	@extend %transition;
	text-decoration: underline;
}

//<img src="assets/img/map.jpg" alt="Map image">
//<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.01579237505!2d-73.99387788821468!3d40.69564983849694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a49b649b8c3%3A0x6342a2291cea2e!2s286%20Cadman%20Plaza%20W%2C%20Brooklyn%2C%20NY%2011201%2C%20USA!5e0!3m2!1sen!2spl!4v1693732334977!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

.map {
	margin-top: 20px;
	
}

.map iframe{
	width: 696px;
	height: 414px;
}


@include media-resizer-breakpoint(1081px){
	.contacts-wrapper{
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
	}
}


@include media-tablet{
	.contact__title{
		padding-left: 4px;
	}

	.contacts-wrapper{
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
	}
	
	.contact__info{
		margin-left: 21px;
	}
	.map{
		margin-left: 45px;
	}

	.map iframe{
		width: 89vw;
		height: 54vw;
		
	}

}

