

.card-form-title{
	color: $color-text;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: center;
	//
	margin-bottom: 29px;

}

.digital-library-cards-container{
	margin-top: 11px;
	padding-bottom: 5px;
}
.card-form-container{
	border: 3px solid $color-main;
	background: $color-text-additional;
	width: 600px;
	height: 386px;
	flex-shrink: 0;
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.47);
	
	margin-bottom: 35px;
}

.fields-color-container{
	display: flex;
	flex-direction: column;
	width: 560px;
	height: 272px;
	background-color: $color-main;
	margin: 17px 17px 20px 17px;
	

}

.form-title{ //как то надо поправить
	text-align: left;
	padding-left: 20px;
	
	margin-top: 27px;
	margin-bottom: 31px;
	}

.form-fields{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 26px;

}

#reader-name-id, #card-number{
	color: #8E8E8E;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: 0.6px;

}

.form-fields > input{
	width: 520px;
	border-radius: 10px;
	border-width: 0;
	border-color: $color-main;
	background: $color-text-additional;
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 9px;
	padding-left: 20px;
	outline: none; //remove black outline it text field
}

.form-button{
	display: flex; //todo явно есть какой то другой способо для выравнивания
	margin: auto; //todo но работает толко flex + margin-auto
	
	color: #0C0C0E;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
	background-color: $color-text-additional;
	
	//
	
	padding-top: 9px;
	padding-right: 38px;
	padding-bottom: 9px;
	padding-left: 39px;
	
}

.suggest-to-log-in-container{
	width: 456px;
	
}

.suggest-to-log-in-container-title{
	color: #000;
	text-align: right;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.6px;
	//
	margin-bottom: 33px;
}

.suggest-to-log-in-container-txt{
	color: #000;
	text-align: right;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 0.4px;

	margin-bottom: 36px;
	
}

.register_buttons_container{
	display: flex;
	justify-content: flex-end;

}
.register_buttons_container button{
	 margin: 0 0 15px 20px;//not here
}

