.header__wrapper{
	background-color: $color-headers;
	max-width: 1440px;
	padding-left: 20px;
	padding-right: 20px;
}

.header__title{
	margin: 20px 0 20px 0;
}

.header__navigation{
	display: flex;
}

.nav_icon_container_right{
	display: flex; 
		
}
.navigation{	
	display: flex;
	justify-content: center;
	align-items: center;
	
	list-style: none;
	color: $color-text-additional;
	gap: 30px;
}

.navigation__item{
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 250% */

}

.navigation__link{
	color: $color-text-additional;
		
}

.navigation__link:hover{
	@extend %transition;
	text-decoration: underline;
	
}

.header__icon-profile-burger{
	display: flex;
	align-items: center;
	margin-left: 40px;

}

.header__icon-profile-burger a{
	display: flex; //we need this to avoid free space in <a> element in bottom
	@include media-tablet{ //move in tablet view
		margin-right: 40px;
	}
}
@include media-resizer-breakpoint(995px){
	.navigation{
		display: none; //remove navigation when in tablet view
	}
}


@include media-tablet{ //mixin for tablet view
	.navigation{
		//display: none; //make navigation in vertical and hidden in tablet view
		position: fixed;
		right: 0;
		top: 90px;
		display: flex;
		flex-direction: column;
		background-color: $color-text;
		z-index: 999; //make menu above page
		min-width: 332px;
		min-height: 570px;
		//overflow-y: auto; //make scroll in menu but doesnot work
		

		gap: 30px;
		transform: translateX(100%);
		transition: all .5s ease-in-out;
		//
		border: solid 1px white;
	}

	.navigation--visible{ //class for showing menu
		transform: none;
		

	}

	.stop-scroll{
		overflow: hidden; //to stop scrolling while side menu is visible
	}
}
