header {
	background-color: $color-headers;
		
}
.header__title{
	margin: 20px 0 20px 0;
}

.header__navigation{
	display: flex;
}

.nav_icon_container_right{
	display: flex;
		
}
.navigation{	
	display: flex;
	justify-content: center;
	align-items: center;
	
	list-style: none;
	color: $color-text-additional;
	gap: 30px;
}

.navigation__item{
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 250% */

}

.navigation__link{
	color: $color-text-additional;
		
}

.navigation__link:hover{
	@extend %transition;
	text-decoration: underline;
	
}

.header__icon-profile-hamburger{
	padding: 31px 0 0 0;
	margin-left: 40px;
}
