.about__wrapper{
	width: $content-width;
}

.about__text{
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	margin: 40px 0 20px 0;
}

.about__images{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 40px 0;
}

.about__carousel{
	margin: auto;
  	//margin: 0 0 20px 0;
	//width: 68px;
	//height: 16px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
		
}

.carusel-button-press-zone{ //active zone iz more than icon
	width: 26px;
	height: 26px;   
	border-radius: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}
  
  .carusel-button{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: $color-headers;
	border: $color-headers;
	outline: none;
	
  }
  
  .carusel-button:hover{
	@extend %transition;
	background-color: $color-text-light-grey;
	
  }
  
  .carusel-button:focus{
	background-color: $color-main;
  }
  
  .carusel-button:focus-visible{
	background-color: $color-main;
  }
  
  .carusel-button:active{
	background-color: $color-main;
  }
