.contacts-wrapper{
	margin-top: 40px;
	margin-bottom: 40px;
}

.info-header-one, .info-header-two, .info-dir-name{
	color: $color-text;
	text-align: left;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
}

.info-header-one{
	margin-bottom: 40px;
}

.info-header-two{
	margin-top: 40px;
	margin-bottom: 20px;
}

.info-txt{
	color: #000;
	text-align: left;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
}
//remove color and link colors from tel number links
.tel_href:link, .tel_href:visited, .tel_href:active {
	color: $color-text;
	text-decoration: none;  //remove underline from all links
}
//remove color and link colors from mail links
.info-dir-name > a:link, a:visited, a:active{
	color: $color-text;

}