.picker_label{
	color: #000;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.season-pick__form{
	display: flex;
	width: 700px;
	justify-content: space-between;
	margin-bottom: 40px;

	color: #000;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}

// .season__pick-radio-list{
// 	display: flex;
// 	width: 700px;
// 	justify-content: space-between;
// 	margin-bottom: 40px;

// }

// .season__pick-radio-list{
// 	color: #000;
// 	font-family: Inter;
// 	font-size: 20px;
// 	font-style: normal;
// 	font-weight: 400;
// 	line-height: normal;
// }

.book-card{
	border: solid black 1px;
	width: 550px;
	height: 555px;
	margin-bottom: 40px;
	margin-right: 40px;
	flex-shrink: 0;
	position: relative;
}

.book-cards-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.book-card_name{
	margin: 15px 0 0 20px;
}

.book_title{
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 266.667% */
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 15px 0 0 20px;
}

.book_author{
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: capitalize;
	margin: 0px 0 0 20px;
}
.book_annotation{
	width: 376px;
	height: 320px;
	margin: 0 0 23px 20px;
}

.book_annotation p{
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 266.667% */
	letter-spacing: 2px;
	text-transform: capitalize;
	
}

.book_cover{
	position: absolute; //для выравнивания img parent должен быть relative
	left: 390px;
	top: 254.2px;
}

.book-cards-wrapper > div:nth-child(1n + 5){ //hide book cards more than 4
	display: none;
}






