header {
	background-color: $color-headers;
		
}

.header__wrapper{
	display: flex; //place 3 div-block in row
	align-items: center; //выравниваем по центру
	justify-content: space-between;
}

.header__title{
	margin: 0;
	padding: 0 0 0 20px;
		
}

.navigation{	
	display: flex;
	list-style: none;
	color: $color-text-additional;
		
}

.navigation__item{
	padding: 0 15px; //up-down, right-left padding
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 250% */
	
}

.navigation__link{
	color: $color-text-additional;
}
.header__icon-profile-hamburger{
	padding: 31px 20px 31px 0;
}
