/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.footer-link:hover, .info-dir-name:hover, .tel_href:hover, .carusel-button:hover, .navigation__link:hover, .button_bordered:hover {
  transition: all 0.5s ease-out;
}

.menu-page-list-item-name, .coffeshop__description, .about__text {
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.card-form-title {
  color: #000000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

#reader-name-id, #card-number {
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.menu-page-title-right, .menu-page-title-left {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}
@media (max-width: 1400px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.layout-two-columns {
  display: flex;
  justify-content: space-between;
}

/*base style for html body*/
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  margin: auto;
  overflow-x: hidden;
}

main {
  background-color: #FFFFFF;
}

h1 {
  color: #FFF;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

h2 {
  font-family: "Forum", Verdana, sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
}

h3 {
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

h4 {
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

a:link, a:visited, a:active {
  background-color: transparent;
  text-decoration: none;
}

.buttons {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.button_bordered {
  flex-shrink: 0;
  background: none;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  outline: none;
  border: 1px solid #0C0C0E;
}

.button_small {
  width: 75px;
  height: 30px;
}

.button_bordered:hover {
  border: 1px solid #BB945F;
  background-color: #BB945F;
}

.button_prototype {
  display: none;
}

.line {
  margin: auto;
  width: 50px;
  height: 1px;
  background: black;
  flex-shrink: 0;
}

.line-color {
  margin-left: 20px;
  width: 60px;
  height: 1px;
  background: #BB945F;
  flex-shrink: 0;
}

.sec-title {
  margin: 20px 0;
  text-align: center;
}

.season-pick__form input[type=radio] {
  display: none;
}

.season-pick__form label {
  display: flex;
  align-items: center;
}

.season-pick__form label::before {
  content: "";
  width: 13px;
  height: 13px;
  border: 2px black solid;
  border-radius: 50%;
  margin-right: 18px;
  margin-top: 3px;
}

.season-pick__form input[type=radio]:checked + label::before {
  background: radial-gradient(black 10%, black 30%, transparent 30%, transparent);
  margin-right: 15px;
}

.season-pick__form input[type=radio]:checked + label {
  font-weight: 700;
}

.header__wrapper {
  background-color: #0C0C0E;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

.header__title {
  margin: 20px 0 20px 0;
}

.header__navigation {
  display: flex;
}

.nav_icon_container_right {
  display: flex;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #FFFFFF;
  gap: 30px;
}

.navigation__item {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
}

.navigation__link {
  color: #FFFFFF;
}

.navigation__link:hover {
  text-decoration: underline;
}

.header__icon-profile-burger {
  display: flex;
  align-items: center;
  margin-left: 40px;
  z-index: 1000;
}

.ico-profile {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .ico-profile {
    margin-right: 40px;
  }
}

.icon_with_initials-hide {
  display: none;
}

.icon_with_initials {
  color: #BB945F;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: none;
  justify-content: center;
  align-items: center;
}

.icon_with_initials-visible {
  display: flex;
}

@media (max-width: 995px) {
  .header__navigation {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__navigation {
    position: fixed;
    right: 0;
    display: flex;
    background-color: #0C0C0E;
    z-index: 999;
    min-width: 332px;
    height: 570px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  .navigation {
    flex-direction: column;
  }
  .navigation--visible {
    transform: none;
  }
  .stop-scroll {
    overflow: hidden;
  }
}
.welcome__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
  background-image: url(../assets/img/Welcome.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  max-width: 1440px;
  height: 600px;
}

.welcome__title {
  display: flex;
  width: 600px;
  height: 220px;
  align-items: center;
  background-color: #0C0C0E;
  margin: 220px 0 160px 0;
}

.welcome__text {
  font-family: Forum;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  padding: 35px 40px;
}

.welcome__text span:first-child {
  padding-right: 9px;
}

.welcome__text span:nth-child(2) {
  padding-left: 1px;
}

.welcome__text span:nth-child(3) {
  padding-left: 4px;
}

.about__text {
  margin: 40px 0 20px 0;
}
@media (max-width: 768px) {
  .about__text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .about-images_container {
    display: flex;
    justify-content: center;
    gap: 46px;
  }
}
.left_arrow_ico, .right_arrow_ico {
  display: none;
}
@media (max-width: 768px) {
  .left_arrow_ico, .right_arrow_ico {
    display: flex;
  }
}

@media (max-width: 768px) {
  .left_arrow_ico {
    padding-top: 21px;
  }
  .right_arrow_ico {
    padding-top: 21px;
    padding-right: 5px;
  }
}
.carusel {
  display: flex;
  justify-content: space-around;
}

.about-images_container {
  width: 1400px;
  overflow: hidden;
}

.about__images {
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-bottom: 31px;
}
@media (max-width: 1400px) {
  .about__images {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .about__images {
    margin-bottom: 16px;
  }
}

@media (max-width: 1400px) {
  .about__images > div:first-child {
    padding-right: 20px;
  }
  .about-images_container {
    width: 475px;
  }
}
@media (max-width: 768px) {
  .about__images > div:first-child {
    padding-right: 0px;
  }
}
.about__carousel {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.about__carousel > .carusel-button-press-zone:nth-child(1), .carusel-button-press-zone:nth-child(2) {
  display: none;
}
@media (max-width: 768px) {
  .about__carousel > .carusel-button-press-zone:nth-child(1), .carusel-button-press-zone:nth-child(2) {
    display: flex;
  }
}

.carusel-button-press-zone {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.carusel-button-press-zone:hover {
  cursor: pointer;
}

.carusel-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
  border: #0C0C0E;
  outline: none;
}

.carusel-button:hover {
  background-color: #8E8E8E;
}

.carusel-button:focus {
  background-color: #BB945F;
}

.carusel-button:focus-visible {
  background-color: #BB945F;
}

.carusel-button:active {
  background-color: #BB945F;
}

.favourite__wrapper {
  position: relative;
}

.favourites__season-pick {
  margin-top: 40px;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
  .favourites__season-pick {
    padding-left: 20px;
  }
}

.picker_label {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.season-pick__form {
  display: flex;
  width: 700px;
  justify-content: space-between;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 40px;
}

.book-card {
  border: solid black 1px;
  width: 550px;
  height: 555px;
  margin-bottom: 40px;
  margin-right: 40px;
  flex-shrink: 0;
  position: relative;
  display: block;
  transition: all 1s ease-out;
}
@media (max-width: 768px) {
  .book-card {
    margin-left: 89px;
  }
}

.hidden-book-card {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

.book-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-card_name {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 0px;
}

.book_title {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 18px 0 0 20px;
}

.book_author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0px 0 0 20px;
}

.book_annotation {
  width: 376px;
  height: 320px;
  margin-bottom: 35px;
  margin-left: 20px;
}

.book_annotation p {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 17px;
}

.book-card button {
  padding-top: 2px;
  margin-left: 19px;
}

.book_buy_btn-hide {
  display: none;
}

.button_own {
  border: 1px solid #BB945F;
  color: #BB945F;
  flex-shrink: 0;
  background: none;
  border-radius: 2px;
  outline: none;
  display: block;
}

.button_own-visible {
  display: block;
}

.book_cover {
  position: absolute;
  left: 389px;
  top: 254.2px;
}

.wrapper-coffeshop {
  margin-bottom: 60px;
}

.wrapper-coffeshop p {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .wrapper-coffeshop p {
    padding: 0 15px;
  }
}

.coffeshop__description {
  letter-spacing: 2px;
}

.menu-page-title-right {
  text-align: right;
}

.menu-page-list-item-left {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.menu-page-list-item-left > :first-child {
  flex-grow: 3;
}

.menu-page-list-item-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.menu-page-list-item-name {
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
}

.menu-page-list-item-cost {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-page-line {
  width: 100px;
  height: 1px;
  background: #BB945F;
  flex-shrink: 0;
  align-self: center;
  margin: 0 59px;
}

@media (max-width: 965px) {
  .wrapper__coffeshop-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .cafe-menu-left {
    margin-left: 20px;
  }
  .cafe-menu-right {
    margin-left: 287px;
  }
  .menu-page-title-right {
    padding-right: 3px;
  }
}
@media (max-width: 768px) {
  .wrapper__coffeshop-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .cafe-menu-left {
    margin-left: 20px;
  }
  .cafe-menu-right {
    margin-left: 287px;
  }
  .menu-page-title-right {
    padding-right: 3px;
  }
}
.contacts-wrapper {
  margin-top: 20px;
  margin-bottom: 57px;
}

.info-header-one, .info-header-two, .info-dir-name {
  color: #000000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.info-header-one {
  margin-bottom: 40px;
}

.info-header-two {
  margin-top: 40px;
  margin-bottom: 20px;
}

.info-txt {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.tel_href:link, .tel_href:visited, .tel_href:active {
  color: #000000;
  text-decoration: none;
}

.info-dir-name:link, .info-dir-name:visited, .info-dir-name:active {
  color: #000000;
}

.info-dir-name:hover, .tel_href:hover {
  text-decoration: underline;
}

.map {
  margin-top: 20px;
}

@media (max-width: 1081px) {
  .contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .contact__title {
    padding-left: 4px;
  }
  .contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .contact__info {
    margin-left: 21px;
  }
  .map {
    margin-left: 36px;
  }
}
.card-form-title {
  text-align: center;
  margin-bottom: 29px;
}

.digital-library-cards-container {
  margin-top: 11px;
  padding-bottom: 5px;
}

.card-form-container {
  border: 3px solid #BB945F;
  background: #FFFFFF;
  width: 600px;
  height: 386px;
  flex-shrink: 0;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.47);
  margin-bottom: 35px;
}

.fields-color-container {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 272px;
  background-color: #BB945F;
  margin: 17px 17px 20px 17px;
}

.form-title {
  text-align: left;
  padding-left: 20px;
  margin-top: 27px;
  margin-bottom: 31px;
}

.form-fields {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
}

.form-fields > input {
  width: 520px;
  border-radius: 10px;
  border-width: 0;
  border-color: #BB945F;
  background: #FFFFFF;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 20px;
  outline: none;
}

.form-button {
  display: flex;
  margin: auto;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: #FFFFFF;
  padding-top: 9px;
  padding-right: 38px;
  padding-bottom: 9px;
  padding-left: 39px;
}

.form-button-hide {
  display: none;
}

.digital-card-counter-block {
  justify-content: center;
  gap: 35px;
  margin-top: -5px;
  display: none;
}

.digital-card-counter-block-visible {
  display: flex;
}

.counter_visit-mini-version,
.counter_bonuses-mini-version,
.counter_books-mini-version {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggest-to-log-in-container {
  padding-left: 320px;
}

.suggest-to-log-in-container-title {
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 33px;
}

.suggest-to-log-in-container-txt {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
  margin-bottom: 36px;
}

.register_buttons_container {
  display: flex;
  justify-content: flex-end;
}

.register_buttons_container button {
  margin: 0 0 15px 20px;
}

@media (max-width: 1400px) {
  .suggest-to-log-in-container {
    padding-left: 5vw;
  }
}
@media (max-width: 860px) {
  .digital-library-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .suggest-to-log-in-container {
    padding-left: 0px;
  }
  .suggest-to-log-in-container-title {
    text-align: center;
    margin-top: 20px;
  }
  .suggest-to-log-in-container-txt {
    text-align: center;
    padding: 8px 82px;
    margin-bottom: 31px;
  }
  .register_buttons_container {
    display: flex;
    justify-content: center;
    padding-right: 18px;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .digital-library-cards-title {
    padding-left: 4px;
  }
  .card-form-container {
    margin-bottom: 0px;
  }
  .digital-library-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .suggest-to-log-in-container {
    padding-left: 0px;
  }
  .suggest-to-log-in-container-title {
    text-align: center;
    margin-top: 20px;
  }
  .suggest-to-log-in-container-txt {
    text-align: center;
    padding: 8px 82px;
    margin-bottom: 31px;
  }
  .register_buttons_container {
    display: flex;
    justify-content: center;
    padding-right: 18px;
    padding-bottom: 20px;
  }
}
footer {
  color: #FFFFFF;
}

.footer-wrapper {
  background-color: #0C0C0E;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

.adress-container {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  padding-top: 4px;
}

.social-list {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.ico-obj {
  pointer-events: none;
}

.svg-icon-code:hover {
  border-bottom: solid 1px #BB945F;
  border-right: solid 1px #BB945F;
}

.footer__worktime {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.footer__worktime p:first-child {
  padding-top: 20px;
  padding-bottom: 1px;
  margin: 0px;
}

.footer__worktime p:last-child {
  padding-top: 9px;
  padding-bottom: 1px;
  margin: 0px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: #FFFFFF;
  margin-top: 17px;
}

.footer__date_logo_username {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
}

.footer-link {
  color: #FFFFFF;
}

.footer-link:hover {
  text-decoration: underline;
  color: #BB945F;
}

.footer__date_logo_username > div {
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 35px;
  margin-left: 0;
  padding-top: 6px;
}

.footer__date_logo_username div:nth-child(1) {
  flex-grow: 3;
}

.footer__date_logo_username div:nth-child(2) {
  flex-grow: 1;
  text-align: center;
  padding-left: 45px;
}

.footer__date_logo_username div:nth-child(3) {
  flex-grow: 2;
  text-align: right;
}

@media (max-width: 768px) {
  .footer__date_logo_username div:nth-child(2) {
    padding-left: 110px;
  }
}
.burger_line, .burger_icon:after, .burger_icon:before {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  height: 2px;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.burger_icon {
  display: none;
  position: relative;
  width: 45px;
  height: 20px;
}
@media (max-width: 768px) {
  .burger_icon {
    display: inline-block;
  }
}
.burger_icon:before {
  top: calc(0% - 2px);
  left: 0px;
}
.burger_icon:after {
  top: calc(100% - 2px);
  left: 0px;
}

.burger_line {
  top: calc(50% - 2px);
}

@media (max-width: 768px) {
  .burger--active-animate .burger_line {
    opacity: 0%;
  }
  .burger--active-animate::before {
    transform: rotate(45deg);
    top: 50%;
  }
  .burger--active-animate::after {
    transform: rotate(-45deg);
    top: 50%;
  }
}
.auth-menu-container {
  position: relative;
}

.user_login_menu_small, .user_in_menu_small {
  background-color: #FFFFFF;
  width: 80px;
  height: 115px;
  position: absolute;
  top: 28 px;
  right: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}
@media (max-width: 768px) {
  .user_login_menu_small, .user_in_menu_small {
    right: 40px;
  }
}

.user_login_menu-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-out;
}

.auth_menu_title {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 133.333% */
  margin-top: 5px;
}

.auth_menu_title-small-text {
  font-size: 12px;
}

.auth-menu-line {
  width: 40px;
  height: 1px;
  background-color: #BB945F;
  margin: auto;
  margin-top: 5px;
}

.auth-menu-down {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.register-ref {
  margin-top: 10px;
  margin-bottom: 6px;
}

.logout-ref {
  margin-top: 10px;
  margin-bottom: 6px;
}

.my-reference {
  cursor: pointer;
}

.modal_profile_overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4 ease-out;
}

.modal_profile_overlay-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-out;
}

.wrapper_modal_profile {
  background-color: #FFFFFF;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.modal_profile-left {
  background-color: #0C0C0E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.modal_profile__logo {
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  margin-left: 45px;
  margin-right: 45px;
}

.modal_profile__username-small-font {
  font-size: 15px;
}

.modal_profile__username-normal-font {
  font-size: 20px;
}

.modal_profile__username {
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  width: 120px;
  background-color: #FFFFFF;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal_profile-right {
  flex: 1;
}

.modal_profile-right-wrapper {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 39px;
}

.modal_profile-title {
  color: #000;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0px;
}

.modal_profile-counter-block {
  display: flex;
  flex-direction: row;
  gap: 21px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.counter_visits-title,
.counter_bonuses-title,
.counter_books-title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin: 0;
}

.counter_visit,
.counter_books,
.counter_bonuses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.small-digits {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 0;
}

.rented-books-title {
  color: #0C0C0E;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 80% */
  margin: 0px;
  margin-bottom: 13px;
}

.modal_profile-rented-books-block {
  max-width: 388px;
  height: 77px;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 30px;
}

.modal_profile-rented-books-block::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: 1px solid #8E8E8E;
}

.modal_profile-rented-books-block::-webkit-scrollbar-thumb {
  background-color: #BB945F;
}

.modal_profile-rented-books-block::-webkit-scrollbar-button {
  background-color: #8E8E8E;
  width: 10px;
  height: 10px;
}

.modal_profile-rented-books-block ul {
  list-style: disc;
  padding-left: 30px;
}

.rented-books-book-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.modal_profile-card-number-block {
  display: flex;
  gap: 15px;
}

.modal_profile-card-number-block span {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}

.modal_profile-card-number {
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}

.modal_profile-card-number-copyico {
  cursor: pointer;
}

.modal_profile-close_button {
  position: absolute;
  right: 24px;
  top: 20px;
}

.modal_buy_card-overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4 ease-out;
}

.modal_buy_card-overlay-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-out;
}

.modal_buy_card-wrapper {
  background-color: #FFFFFF;
  width: 640px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal_buy_card-title-block p {
  color: #FFFFFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0;
  padding: 20px;
  padding-left: 30px;
}

.modal_buy_card-title-block {
  background-color: #0C0C0E;
  position: relative;
}

.modal_buy_card-close_button {
  position: absolute;
  top: 23px;
  right: 13px;
  cursor: pointer;
}

.layout-two-columns-modal {
  display: flex;
  padding: 30px 40px 40px 40px;
  flex: 1;
}

.credit-card-form {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.credit-card-form input {
  outline: none;
  border: 1px solid #BB945F;
}

.credit-card-form input {
  height: 20px;
}

.ccf-expiration-code1, .ccf-expiration-code2, .ccf-cvc {
  width: 45px;
  height: 20px;
  flex-shrink: 0;
}

.cvc-input-block {
  display: flex;
  gap: 10px;
}

.ccf-cvc {
  margin-bottom: 10px;
}

.ccf-city {
  margin-bottom: 10px;
}

.price-block {
  display: flex;
  gap: 25px;
  align-items: end;
}

.disabled-button {
  background-color: #8E8E8E;
}

.disabled-button:hover {
  background-color: #8E8E8E;
}

.price {
  color: #0C0C0E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.buy-card-text-instruction {
  color: #8E8E8E;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 2px;
  padding-left: 36px;
}

.login_form-overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4 ease-out;
}

.login_form-overlay-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}

.login_form-wrapper {
  position: relative;
  background-color: #FFFFFF;
  width: 250px;
  height: 262px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.login_form-title {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0;
}

.login_form {
  margin-top: 21px;
}

.login_form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 19px;
}

.login_form-fields input {
  width: 200px;
  height: 20px;
  flex-shrink: 0;
  outline: none;
  border: 1px solid #BB945F;
}

.login_form-fields label {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}

.login_form_login {
  margin-bottom: 10px;
}

.login_form_bottom-text-block {
  display: flex;
  gap: 11px;
}

.login_form_bottom-text-block {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login_form-register-ref {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}

.login_form-register-ref:hover {
  text-decoration-line: underline;
}

.login_form-close_button {
  position: absolute;
  right: 13px;
  top: 13px;
}

.register_form-overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4 ease-out;
}

.register_form-overlay-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}

.register_form-wrapper {
  position: relative;
  background-color: #FFFFFF;
  width: 250px;
  height: 382px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.register_form-title {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0;
}

.register_form {
  margin-top: 21px;
}

.register_form_fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 19px;
}

.register_form_fields input {
  width: 200px;
  height: 20px;
  flex-shrink: 0;
  outline: none;
  border: 1px solid #BB945F;
}

.register_form_fields label {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}

.register_form_sign_up {
  margin-bottom: 10px;
}

.register_form_bottom-text-block {
  display: flex;
  gap: 11px;
}

.register_form_bottom-text-block {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register_form-login-ref {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}

.register_form-login-ref:hover {
  text-decoration-line: underline;
}

.register_form-close_button {
  position: absolute;
  right: 13px;
  top: 13px;
}

/*# sourceMappingURL=style.css.map */
