$color-main: #BB945F; //constant in sass starts from $
$color-headers: #0C0C0E;
$color-text: #000000;
$color-text-light-grey: #8E8E8E;
$color-text-additional: #FFFFFF;
$color-icons: #F5EFDB;

$content-width: 1400px; //content block minus paddings

$tablet-width: 768px;
$tablet-content-width: 728px;
