%transition{ //just for example ==   @extend %transition;
	transition: all .4s ease-out;
}
//!todo make text size in rem


%font-Inter-20{
	color: $color-text;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
}
%font-Inter-30-text-color{
	color: $color-text;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.6px;
}

%font-Forum-30-text-color-light-grey{
	color: $color-text-light-grey;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: 0.6px;
	text-transform: capitalize;
}


%font-Forum-40-main-color{
	color: $color-main;
	font-family: Forum;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 100% */
	letter-spacing: 2px;
	text-transform: capitalize;
	margin-bottom: 40px;
}