//for same element on the page

.line{ //line is the same for all sections
	margin: auto;
	width: 50px;
	height: 1.000px;
	background: black;
	flex-shrink: 0;
}

.line-color{ //line is the same for all sections
	margin-left: 20px;
	width: 60px;
	height: 1.000px;
	background: $color-main;
	flex-shrink: 0;
}


.section-title{
	margin: 20px 0;
	text-align: center;
}